/************** GLOBAL **************/
body {
    background: #FAFAFA;
    color: #333333;
    margin: 0;
}

a:hover{
    opacity: 0.30;
}

a {
    color: black;
    text-decoration: none;
}

/************** TOPO **************/
nav {
    display: block;
    width: 100vw;
    height: 128px;
    background-image: url("jesus.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
}

nav h1 {
    position: absolute;
    font-family: "Sansita Swashed";
    text-transform: capitalize;
    font-size: 3vmax;
    padding: 10px;
}

main p {
    text-align: justify;
    margin: 0 auto;
    font-size: 3vmax;
    width: 80vw;
}


/************** RODAPÉ **************/
footer span {
    width: 40vw;
    padding: 10px;
    text-align: justify;
    display: inline-block;
}

footer span:nth-child(3n)  {
    text-align: center;
}

footer h2 {
    padding: 16px;
    background-color: #cccccc;
}

footer {
    display: block;
    text-align: center;
}

@media only screen and (max-width: 780px) {
    footer span {width: 80vw;}
}