/************** GLOBAL **************/
body {
    background: #F2E0D0;
    color: #401A39;
    margin: 0;
}

a:hover{
    color: rgb(166, 60, 36, 0.3);
}

a {
    color: rgb(166, 60, 36);
    text-decoration: none;
}

/************** TOPO **************/
nav {
    display: block;
    width: 100vw;
    height: 128px;
    background-image: url("jesus.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
    background-color: #D9BBA9;
    border-bottom: solid #8C4535;
}

nav h1 {
    position: absolute;
    font-family: "Sansita Swashed";
    text-transform: capitalize;
    font-size: 32px;
    padding: 10px;
}

/************** CORPO **************/

main {
    margin-top: 3vmax;
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 12vmax;
}

main p {
    text-align: justify;
    font-size: 3vmax;
}

main ul li {
    font-size: 2vmax;
}


/************** RODAPÉ **************/
footer h2 div {
    display: inline-block;
}

footer h2 {
    margin: 0;
    padding: 16px;
    font-size: 2vmax;
    background-color: #D9BBA9;
    border-top: solid #8C4535;
}

footer {
    width: 100vw;
    position: fixed;   
    text-align: center;
    bottom: 0;
}